
#frame {
  width: 100%;
  height: 100%;
}
#frame .row {
  height: 100%;
  width: 100%;
  padding: 0;
}

#frame .row .col {
  padding: 0;
}
#frame img {
  width: 100%;
}

cardboard-gl {
  display: block;
  background: black;
  width: 100%;
  height: 100%;
}

